<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVC2</display-name>
  <servlet>
  	<servlet-name>mymvc</servlet-name>
  	<servlet-class>habby.controler.habbycontoller</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>mymvc</servlet-name>
  	<url-pattern>*.do</url-pattern><!--슬래쉬 있으면 않됨  -->
  </servlet-mapping>
</web-app>